
// need to put a friendly reminder where the g fonts snippet needs to go in the whole site
// additional families need to included in includes > page > head

$font-core: 'Open Sans', 'Helvetica Neue', sans-serif;
$font-title-01: 'Palanquin', 'Helvetica Neue', sans-serif;
$font-deco-02: 'Nova Oval', cursive;
$font-deco-03: 'Nova Slim', cursive;
$font-deco-04: 'Nova Round', cursive;
