// general modifier styles for text

.text, .text-deco {
  // sizes
  &--xxxxl { font-size: 2.3rem; line-height: 1.6; letter-spacing: 0; }
  &--xxxl { font-size: 1.9rem; line-height: 7; letter-spacing: 0; }
  &--xxl { font-size: 1.2rem; line-height: 1.6; letter-spacing: 0; }
  &--xl  { font-size: 1.1rem; line-height: 1.6; letter-spacing: 0; }
  &--lg  { font-size: 1.05rem; letter-spacing: 0; }
  &--sm  { font-size: .8rem; }

  // styles
  &--italic       { font-style: italic; }
  &--light        { font-weight: 300; }
  &--normal       { font-weight: 400; }
  &--bold         { font-weight: 600; }
  &--bolder       { font-weight: 700; }
  &--wide-kern    { letter-spacing: .25em; }
  &--wide-kern-lg { letter-spacing: .5em; }
  &--upper        { text-transform: uppercase; }

  // colours
  &--white { color: $grey-lightest; }
  &--black { color: $grey-dark; }

  // alignment
  &--left   { text-align: left; }
  &--right  { text-align: right; }
  &--center { text-align: center; }

  @include bp($lg) {

    &--xxxxl { font-size: 2.3rem; line-height: 1.6; letter-spacing: 0; }
    &--xxxl { font-size: 1.6rem; line-height: 7; letter-spacing: 0; }
    &--bp-left   { text-align: left; }
    &--bp-right  { text-align: right; }
    &--bp-center { text-align: center; }
  }
  @include bp($xl) {

    &--xxxxl { font-size: 2.4rem; line-height: 1.6; letter-spacing: 0; }
    &--xxxl { font-size: 1.6rem; line-height: 7; letter-spacing: -0.9px; }
    &--bp-left   { text-align: left; }
    &--bp-right  { text-align: right; }
    &--bp-center { text-align: center; }
  }
}

.text-deco {

  font-family: $font-deco-04;
//  font-size: $s4; // default size
  font-weight: 100;

}
